// ============================================
// FOOTER SCSS
// ============================================
// *{
//     border: 1px solid white;
// }
:root {
    --primary-red: #ab0302;
    --font: "Roboto", Sans-serif;
    --overlay-color: rgba(120, 0, 0, 0.5);
    --text-light: #ffffff;
    --text-dim: #cccccc;
}

a {
    text-decoration: none;
    color: white;
}

.footer {
    margin: 0;
    font-family: var(--font);
    color: var(--text-light);

    background: linear-gradient(var(--overlay-color), rgba(120, 0, 0, 0.5)), url("../img/footer-bg.jpg");

    background-size: cover;
    background-position: center;
}
.footer__socials {
    display: flex;
    gap: 25px;
    display: flex; 
     
    // margin-top: 30px;
     padding-top: 10px;

    a {
        color: #ab0302;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 0.3s;
        background-color: #ffffff ;
        // padding: 8px 10px;
        border-radius: 50%;

        &:hover {
            color: #ff9999;
        }
        i {
            font-size: 1.2rem;
            text-align: center;
        }
    }
}

.footer-wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 20px 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// SECTION 1
.top-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.column {
    h2 {
        font-size: 1.1rem;
        display: inline-block;
        margin-bottom: 20px;
        border-bottom: 2px solid #fff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 3px;
        font-size: 0.9rem;
        cursor: pointer;
        transition: 0.3s;
        color: var(--text-dim);

        &:hover {
            color: #ff9999;
        }
        a{
            text-decoration: none;
            color: var(--text-dim);
        }
    }
}

.initiative-list {
    li {
        font-weight: bold;
        text-transform: uppercase;

        span {
            font-style: italic;
            text-transform: lowercase;
            font-weight: normal;
        }
    }
}

// SECTION 2
.donation-section {
    display: grid;
    grid-template-columns: 1.2fr 1.5fr 1.5fr;
    gap: 40px;
    padding: 50px 0;
    align-items: start;
}

.qr-container {
    text-align: left;
}

.bank-info {
    margin-right: 60px;

    .detail-row {
        font-size: 0.8rem;
        // margin-bottom: 8px;
        color: var(--text-light) ;
    }
    p{
        font-size: 0.8rem;
    }
}

.qr-card {
    align-items: center;
    padding-bottom: 15px;
    // margin-top: 15px;

    img {
        width: 120px;
        height: 120px;
        background: #fff;
        margin-bottom: 10px;
    }
}

// SECTION 3
.bottom-info {
    text-align: center;
    font-size: 0.8rem;
    color: var(--text-dim);
    line-height: 1.6;
}

.copyright {
    text-align: center;
    margin-top: 16;
      font-size: 0.8rem;


    a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
    }
}

.bottom-grid {
    width: 100%;
    
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 18px 0 0 0;
    max-width: 90vw;
}

// RESPONSIVE
@media (max-width: 992px) {
    .top-footer,
    .donation-section {
        grid-template-columns: 1fr;
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .footer-grid {
        grid-template-columns: 1fr;
    }
}
