// ============================================
// privacy_policy Page Styles
// ============================================
.privacy_policy{
.hero-section {


    background: url('../img/privacy-policy/privacy-policy.jpg') center/cover no-repeat;
    
}


.logo-placeholder {
    width: 100%;
    max-width: 650px;
    display: block;
    margin: 0 auto 30px;
}

.brand-section {
    text-align: center;

    .brand-name {
        font-size: 28px;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }

    .foundation-name {
        font-size: 40px;
        font-weight: 900;
        margin: 0;
    }

    .tagline {
        font-style: italic;
        color: #fff;
        margin: 10px 0;
    }
}

.red-text {
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
}


}