.main-card {
  max-width: 80vw;
  margin: -80px auto 40px;
  background-color: #fff;
  position: relative;
  z-index: 10;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 30px 80px;

  @media (max-width: 992px) {
    max-width: 90%;
    padding: 30px 40px;
  }

  @media (max-width: 768px) {
    margin-top: -50px;
    padding: 25px;
  }

  @media (max-width: 576px) {
    padding: 20px;
    margin-top: -30px;
  }
}

   .header-title {
        margin-bottom: 30px;

        h2 {
            border-left: 4px solid #ab0302;
            padding-left: 15px;
            text-align: left;
            font-size: 28px;
            text-underline-offset: 8px;
            margin: 40px 0 20px 0;
            color: #222;
            font-weight: 700;

        }
    }

    .sub-title {
            font-size: 1.3rem;
            color: #000000;
            margin-bottom: 20px;
            margin-top: 50px;
        }

    p {
        line-height: 1.8;
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .content-text {
        text-align: justify;
        line-height: 1.8;
        

        .bullet-points {
            padding-left: 20px;
            margin-bottom: 20px;

            li {
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }