// ============================================
// AWD Org UI — Main SCSS Entry Point
// ============================================

// Partials
@use 'variables' as *;
@use 'responsive' as *;
@use 'header' as *;
@use 'footer' as *;
@use 'activities' as *;
@use 'supporters' as *;
@use 'about' as *;
@use 'logo' as *;
@use 'executive_members' as *;
@use 'executive_committee' as *;
@use 'faculties' as *;
@use 'volunteers' as *;
@use 'contact' as *;
@use 'project_educate' as *;
@use 'project_elevate' as *;
@use 'project_employ' as *;
@use 'project_feedme' as *;
@use 'project_life' as *;
@use 'project_milkyway' as *;
@use 'project_ration' as *;
@use 'projectpro' as *;
@use 'internet' as *;
@use 'print' as *;
@use 'students' as *;
@use 'tv' as *;
@use 'radio' as *;
@use 'index' as *;
@use 'partners' as *;
@use 'anual_reports' as *;
@use 'our_certificate' as *;
@use 'privacy_policy' as *;

//////////// INDEX PAGE SCSS ////////////////
// ── Hero Section ────────────────────────────
// ============================================
// COMMON MAIN CARD (GLOBAL)
// ============================================

.main-card {
  max-width: 80vw;
  margin: -80px auto 40px;
  background-color: #fff;
  position: relative;
  z-index: 10;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 30px 80px;

  @media (max-width: 992px) {
    max-width: 90%;
    padding: 30px 40px;
  }

  @media (max-width: 768px) {
    margin-top: -50px;
    padding: 25px;
  }

  @media (max-width: 576px) {
    padding: 20px;
    margin-top: -30px;
  }
}
   .header-title {
        margin-bottom: 30px;

        h2 {
            border-left: 4px solid #cc0000;
            padding-left: 15px;
            text-align: left;
            font-size: 28px;
            text-underline-offset: 8px;
            margin: 40px 0 20px 0;
            color: #222;
            font-weight: 700;

            // &:first-child {
            //     margin-top: 0;
            // }
        }
    }
