:root {
    --primary-red: #ab0303;
}

body {
    background-color: #ab0303;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-card {
    max-width: 170vh;
    margin: -50px auto 0;
    background-color: #fff;
    position: relative;
    z-index: 10;
    color: #414141;
    border-radius: 6px;
}

.hero-section {
    height: 500px;
    background: url('../img/contactus-now-scaled.jpg') center/cover no-repeat;
}

.header-title {
    border-left: 4px solid var(--primary-red);
    padding-left: 15px;
    margin: 40px 0;
    color: #444;
}

.info-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.info-item i {
    color: var(--primary-red);
    margin-right: 15px;
    font-size: 1.2rem;
    margin-top: 5px;
}

.info-text {
    color: #555;
    line-height: 1.4;
}


/* Volunteer Button */
.btn.btn-volunteer {
    border: 2px solid var(--primary-red);
    color: var(--primary-red);
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn.btn-volunteer:hover {
    background-color: var(--primary-red);
    color: #ffffff;
}

/* Donate Button */
.btn.btn-donate {
    background-color: var(--primary-red);
    color: #ffffff;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid var(--primary-red);
    transition: all 0.3s ease;
}

.btn.btn-donate:hover {
    background-color: #ffffff;
    color: var(--primary-red);
    border: 2px solid var(--primary-red);
}

.form-control {
    border-radius: 0;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.btn-submit {
    background-color: var(--primary-red) !important;
    color: white !important;
    padding: 10px 60px;
    border-radius: 0;
    float: right;
    border: none;
}

.benefit-item {
    font-size: 0.9rem;
    color: #666;
    display: flex;
    align-items: flex-start;
}

.benefit-item i {
    color: var(--primary-red);
    margin-right: 10px;
    margin-top: 3px;
}
