:root {
    --primary-red: #ab0302;
    --font: "Roboto", Sans-serif;
    --overlay-color: rgba(120, 0, 0, 0.5);
    --text-light: #ffffff;
    --text-dim: #cccccc
}

a {
    text-decoration: none;
    color: #fff
}

.footer {
    margin: 0;
    font-family: var(--font);
    color: var(--text-light);
    background: linear-gradient(var(--overlay-color), rgba(120, 0, 0, 0.5)), url("../img/footer-bg.jpg");
    background-size: cover;
    background-position: center
}

.footer__socials {
    display: flex;
    gap: 15px;
    display: flex;
    gap: 10;
    padding-top: 10px
}

.footer__socials a {
    color: #fff;
    font-size: 1.5rem;
    transition: color .3s
}

.footer__socials a:hover {
    color: #f99
}

.footer__socials a i {
    font-size: 1.2rem
}

.footer-wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 20px 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.top-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}

.column h2 {
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    letter-spacing: 1px;
    text-transform: uppercase
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.column li {
    margin-bottom: 10px;
    font-size: .9rem;
    cursor: pointer;
    transition: .3s
}

.column li:hover {
    color: #f99
}

.initiative-list li {
    font-weight: bold;
    text-transform: uppercase
}

.initiative-list li span {
    font-style: italic;
    text-transform: lowercase;
    font-weight: normal
}

.donation-section {
    display: grid;
    grid-template-columns: 1.2fr 1.5fr 1.5fr;
    gap: 40px;
    padding: 50px 0;
    align-items: start
}

.qr-container {
    text-align: left
}

.bank-info {
    margin-right: 60px
}

.bank-info .detail-row {
    font-size: .9rem;
    margin-bottom: 8px
}

.qr-card {
    align-items: center;
    padding-bottom: 15px;
    margin-top: 15px
}

.qr-card img {
    width: 120px;
    height: 120px;
    background: #fff;
    margin-bottom: 10px
}

.bottom-info {
    text-align: center;
    font-size: .9rem;
    color: var(--text-dim);
    line-height: 1.6
}

.copyright {
    text-align: left
}

.copyright a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px
}

.bottom-grid {
    width: 100%
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 0 40px 0;
    max-width: 1400px
}

@media(max-width: 992px) {
    .top-footer, .donation-section {
        grid-template-columns: 1fr
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media(max-width: 576px) {
    .footer-grid {
        grid-template-columns: 1fr
    }
}